body, html {
    margin: 0px;
    padding: 0px;
    background-image: url('./img/backdrop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: white;
    font-size: 28pt;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task {
    padding: 5px;
}

.check {
    padding: 10px;
    height: 50px;
    width: 50px;
}