body, html {
    margin: 0px;
    padding: 0px;
    background-image: url('./img/backdrop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative
    
}

h1 {
    text-align: center;
    color: white;
    font-size: 28pt;
    font-family: 'Courier New', Courier, monospace;
}
td {
    padding: 5px;
}

input[type="text"] {
    font-size: 16px;
}

form {
    background-color: white;
    padding: 15px;
}

footer {
    bottom: 0px;
    position: fixed;
    background-color: white;
    width: 100%;
}

input[type=text] {
    border: 2px solid darkgreen;
    border-radius: 4px;
  }

button {
    background-color: #5F7D95;
    color: white;
    padding: 3px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    width: 60%;
    text-decoration: none;
}

.tasks {
    margin-bottom: 200px;
}
.todo {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task {
    padding: 5px;
}

.selection {
    padding: 10px;
}

.check {
    padding: 10px;
    height: 50px;
    width: 50px;
}

.checkbox {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 5px;
}

.option {
    font-weight: bold;
}

.checkImg {
 width: 5%;
}

.checkInfo {
    width: 90%;
}

.checkTrash {
    width: 5%;
    top: 0px;
    position: relative;
}

.trashImg {
    height: 25px;
    width: 25px;
    top: 0px;
    left: 0px;
    margin-bottom: 40px;
    
}











/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }