html, body {
    margin: 0px;
    padding: 0px;
    background-color: grey;
    font-family: 'Playball', cursive;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

h2 {
    display: inline-block;
}

h3 {
    color: white;
    margin: 10px;
}

table {
    text-align: center;
    font-weight: bold;
    width: 100%;
    background-color: white;
    margin-bottom: 0px;
}

th {
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    background-color: darkred;
    color: white;
    margin-bottom: 0px;
}

th:hover {
    cursor: pointer;
}

p:hover {
    cursor: pointer;
}

.addSymbol {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

.minusSymbol {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
}
.basket {
    height: 50px;
    width: 50px;
}

.settings {
    background-color: white;
}

.settings:hover {
    transform: scale(1.1);
}

.backIcon {
    margin-top: 0px;
    margin-bottom: 0px;
    color: green;
    padding-left: 15px;
    border-radius: 180px;
    font-weight: bolder;
    padding-top: 10px;
}

.back {
    background-color: white;
}

.category {
    visibility: hidden;
    display: none;
}

.color {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 20px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colorPicked {
    border: 5px solid #343a40;
}

.add {
    margin-left: 60%;
    width: 30%;
    margin-right: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
    bottom: 5px;
    position: fixed;
}

.items {
    margin-bottom: 75px;
}

.item {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}


.itemName {
    width: 30%;
    display: inline-block;
    margin-left: 10px;
    text-align: left;
}
.quantityAdd {
    width: 10%;    
    display: inline-block;
}

.quantity {
    width: 10%;
    display: inline-block;
}
.quantityMinus {
    width: 10%;
    display: inline-block;
}

.edit {
    width: 8%;
    display: inline-block;
}

.space {
    width: 5%;
    display: inline-block;

}

.delete{
    width: 8%;     
    display: inline-block;
}

#preferences {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #3CBA5F;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid green;
    color: white;
}

#newItem {
    background-color: darkcyan;
    color: white;
}

#editItem {
    background-color: darkcyan;
    color: white;
}








/************************************************************
  * W3 Schools modal CSS 
  ************************************************************/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }